.body {
  margin-bottom: 50px !important;
}

/* Search Bar */
.search-bar {
  display: flex;
  justify-content: flex-end;
}

input {
  border-style: none;
  margin-left: 4px !important;
  margin-right: 9px !important;
  width: 150px;
}

.input-group {
  border: 2px solid lightgray;
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
  margin-right: 50px;
  display: flex !important;
  align-items: center;
}

.search-icon {
  width: auto;
  max-height: 15px;
  opacity: 0.8;
  margin: 4px;
}

::placeholder {
  color: #373a3c;
}

.divider {
  border-right: 2px solid lightgray;
  height: 20px;
  width: 1px;
  margin: 0;
  margin-right: 4px;
}


/* Oompas Main View */
.oompas-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

.oompa {
  width: auto;
  max-height: 250px;
  margin-bottom: 10px;
  margin-top: 40px;
}

h1 {
  text-align: center;
  font-weight: 400 !important;
  font-size: 50px !important;
  margin-top: 50px !important;
}

h2 {
  text-align: center;
  font-weight: 350 !important;
  font-size: 40px !important;
  color: grey !important;
  margin-bottom: 50px !important;
}

button {
  margin-top: 50px !important;
  font-weight: bold !important;
}


/* Oompas Info */
.name {
  font-weight: bold;
  font-size: 20px;
}

.gender, .profession {
  font-size: 12px;
  color: grey;
}

.profession {
  font-style: italic;
}

.info > * {
  margin-bottom: 2px;
}

a {
  color: #373a3c !important;
  cursor: pointer;
}

a:focus, a:hover {
  text-decoration: none !important;
  color: #0275d8 !important;
}


/* Heading */
.top-bar {
  background-color: lightgrey;
  height: 40px;
  padding-left: 50px;
  font-size: 15px !important;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.header {
  margin-right: 5px;
  margin-left: 20px;
}

.header-icon {
  width: auto;
  max-height: 20px;
  vertical-align: sub !important;
}

.header-name {
  color: #0275d8;
}


/*Detail View*/
.info-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin: 100px;
  margin-top: 50px;
}

.oompa-detail {
  max-height: 300px;
  width: auto;
  margin-right: 20px;
}

.description {
  font-size: 12px;
  margin-top: 20px;
  width: 400px;
  text-align: justify;
}

@media only screen and (max-width: 992px) {
  .info-container {
    flex-direction: column;
    align-items: center;
  }

  .oompa-detail {
    height: 300px;
    width: 400px;
    margin: 0;
  }

  .name {
    margin-top: 10px;
  }
}



