/* Search Bar */
.search-bar {
  display: flex;
  justify-content: flex-end;
}

input {
  border-style: none;
}

.input-group {
  border: 2px solid lightgray;
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
}

.search-icon {
  width: auto;
  max-height: 20px;
  opacity: 0.5;
}

::placeholder {
  color: #373a3c;
}


/* Oompas Main View */
.oompas-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

* {
  font-size: 20px;
}

.oompa {
  width: auto;
  max-height: 250px;
  margin-bottom: 10px;
  margin-top: 40px;
}

h1 {
  text-align: center;
  font-weight: 400 !important;
}

h2 {
  text-align: center;
  font-weight: 350 !important;
  font-size: 30px !important;
  color: grey !important;
}

.title {
  margin-top: 50px;
}

button {
  margin-top: 50px !important;
  margin-bottom: 50px !important;
}


/* Oompas Info */
.name {
  font-weight: bold;
}

.gender {
  font-size: 12px;
  color: grey;
}

.profession {
  font-size: 12px;
  font-style: italic;
  color: grey;
}

.info {
  display: flex;
  flex-direction: column;
  padding-top: 2px;
  padding-bottom: 5px;
}

.info > * {
  margin-top: 2px;
  margin-bottom: 2px;
}

a {
  color: #373a3c !important;
}


/* Heading */
.top-bar {
  background-color: lightgrey;
  max-height: 40px;
  font-size: 15px;
  font-weight: bold;
}

.oompa-icon {
  width: auto;
  max-height: 20px;
  margin: 10px;
  margin-left: 60px;
  margin-right: 30px;
}

.link {
  font-size: 15px;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: #373a3c !important;
}
